<footer id="Footer" class="Footer">

  <div class="Footer-footer" >
    <div class="Footer-partners">
      {{ footer.partners_list_footer }}
    </div>

    <div class="Footer-menu">
      {{ footer.footer_menu }}
    </div>



  </div>
</footer>
