#block-facet-content-type {
  .facets-widget-links {
    h3 {
      margin: 2rem;
      text-transform: uppercase;
      color: #042e4b;
      font-weight: bold;
      font-size: 2rem;
    }

    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      li {
        margin-left: 2rem;
        padding: 1rem;
        //background-color: $color-text-grey-light;
        font-size: 1.6rem;
        border:1px solid $color-text-grey-light;
      }

      li:hover {
        margin-left: 2rem;
        padding: 1rem;
        background-color: $color-text-blue-very-light;
        color: $color-breadcrumb-red;
      }
    }


  }
}
