#block-selecteurdelangue {
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    li {
      margin-left: 2rem;
      text-transform: uppercase;
      color: #042e4b;
      font-weight: bold;
      font-size: 2rem;
    }

    li:hover {
      color: red ;
      cursor: pointer;
    }

    li:first-child::after {
      content: "||";
      margin-left: 2rem;
      margin-right: 2rem;
      color: #042e4b;
      font-weight: bold;
      font-size: 2rem;
    }

  }
}
